# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
.env/
.venv/

# Variables de entorno
.env

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# VS Code / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
